#include <os2.h>
#include "hanoi.h"

ICON ID_RESOURCE hanoi.ico

MENU ID_RESOURCE
BEGIN
   SUBMENU  "~Action", -1
      BEGIN
         MENUITEM "~Start", IDM_START
         MENUITEM "S~top",  IDM_STOP,, MIA_DISABLED
         MENUITEM SEPARATOR
         MENUITEM "~About...", IDM_ABOUT
      END
   SUBMENU  "~Options",-2
      BEGIN
         MENUITEM "~Set \tAlt s",    IDM_SET
      END
END

ACCELTABLE ID_RESOURCE
BEGIN
    "s", IDM_SET       , ALT
END

DLGTEMPLATE ID_SETCOUNT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   DIALOG "", 0, 23, 75, 195, 58, FS_NOBYTEALIGN | FS_DLGBORDER |
              WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
   BEGIN
      CONTROL "Enter the number of disks desired:", 0, 2, 41, 163, 8,
              WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
      CONTROL "", ID_ENTRYFLD, 158, 41, 23, 8, WC_ENTRYFIELD,
              ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
      DEFPUSHBUTTON "OK",     DID_OK,      90,12, 38,12, WS_GROUP
      PUSHBUTTON    "Cancel", DID_CANCEL, 140,12, 38,12, WS_GROUP
   END
END

DLGTEMPLATE IDD_ABOUTBOX LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
    DIALOG "About", IDD_ABOUTBOX, 9, 17, 194, 90, FS_NOBYTEALIGN | FS_DLGBORDER | 
                WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
    BEGIN
        CONTROL ID_RESOURCE, -1, 13, 56, 21, 21, WC_STATIC, SS_ICON |
                WS_GROUP | WS_VISIBLE
        CONTROL "Hanoi Game Application", 256, 37, 65, 154, 8, WC_STATIC,
                SS_TEXT | DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Created 1990, Microsoft, IBM Corp.", 257, 5, 35, 184, 8, 
                WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Version 2.0", 258, 37, 50, 153, 8, WC_STATIC, SS_TEXT | 
                DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Ok", DID_OK, 78, 10, 38, 13, WC_BUTTON, BS_PUSHBUTTON |
                BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
    END
END
